@use '../../style/partials/breakpoints' as *;
@import '../../style/partials/colors';

* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 16px;
}



.video-info-container {

    width: 100%;
    margin-bottom: 16px;

    &__data {
        display: flex;
        gap: calc(35%);
    }

}

@include tablet { 

    .video-info-container {
        margin-bottom: 24px;

        &__data {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0;
        }
    }
    
    .divider:nth-child(2) {
        display: none;
        background-color: red;
    }

}