.profile-icon {
    background-image: url('../../assets/images/Mohan-muruge.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 42px;
    width: 42px;
    border-radius: 26px;
}