@use '../../style/partials/breakpoints' as *;

.profile-icon {
    background-image: url('../../assets/images/Mohan-muruge.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 36px;
    width: 36px;
    border-radius: 50%;

    &--null {
        background-image: none;
        background-color: red;
    }
}

@include tablet {
    .profile-icon {
        height: 40px;
        width:40px;
    }
}