$brainflix-black: #323232;
$brainflix-blue: #0095FF;
$brainflix-silver: #AFAFAF;
$brainflix-white: #FFFF;
$brainflix-darkblack: #0000;
$brainflix-darkblue: #0065AD;
$brainflix-mercury: #E1E1E1;
$brainflix-alabaster: #FAFAFA;
