@import '../../style/partials/colors';

.main-container {
    width: 100%;
}

.related-container {
    background-color: $brainflix-alabaster;
    width: 100%;
}

.video-data {
    background-color: $brainflix-alabaster;
    width: 100%;
}